.gameCard {
  position: relative;

  .poster {
    background-size: cover;
    width: 240px;
    height: 392px
  }

  .underPoster {
    width: 240px;

    .gameTitle{
      color: white;
      font-weight: bold;
      margin: 0;
      text-align: center;
      padding: 10px 5px;
      font-size: 23px;
    }

    .price{
      color: #8efff4;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      padding-right: 10px;
      padding-bottom: 15px;
      text-align: right;
    }
  }

  .description{
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    width: 240px;
    background-color: rgba(129, 129, 129, 0.95);
    color: white;
    font-size: 15px;
    padding: 25% 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover{
    .description{
      transition: 1s;
      opacity: 1;
    }
  }
}