.app {
  min-height: 100vh;

  background-color: rgb(142, 205, 255);
}

.dark-red {
  background-color: #b3382c;
  color: white;
}

.not-so-dark-red {
  background-color: #e74c3c;
  color: white;
}

.light-green {
  background-color: #a4ff93;
  color: black;
}

.not-so-light-green {
  background-color: #28ff03;
  color: black;
}

.light-blue {
  background-color: rgb(142, 205, 255);
  color: black;
}

.a18eff{
  background-color: #a18eff;
  color: black;
}

.hidden {
  display: none;
}