.favorites{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: center;

  max-width: 80vw;
  margin: 1vh 10vw 0 10vw;
  padding: 0;
}