.list-view-switcher {
  margin: 10px 0 10px calc(90vw - 50px);

  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding: 2.5px;
  cursor: pointer;
  position: relative;

  div{
    height: 11.5px;
    width: 11.5px;
    position: absolute;
    display: block;
    background-color: #9b9bff;;
    border-radius: 5px;
    transition: 1s;
  }

  //  first   fourth  seventh
  //  second  fifth   eighth
  //  third   sixth   ninth

  .first, .second, .third{
    left: 2.5px;
  }
  .fourth, .fifth, .sixth{
    left: 19px;
  }
  .seventh, .eighth, .ninth{
    left: 35.5px;
  }
  .first,  .fourth,  .seventh {
    top: 2.5px;
  }
  .second,   .fifth,   .eighth {
    top: 19px;
  }
  .third,  .sixth,   .ninth {
    top: 35.5px;
  }

  &.listView {
    //  first   seventh--seventh
    //  second  eighth--eighth
    //  third   ninth--ninth

    .seventh, .eighth, .ninth{
      left: 19px;
      width: 28px;
      height: 6px;
    }
    .seventh {
      top: 5px;
    }
    .eighth {
      top: 21.5px;
    }
    .ninth {
      top: 38px;
    }

    // beautifully gone
    .fourth, .fifth, .sixth{
      width: 0;
      height: 0;
      opacity: 0;
    }
    .fourth {
      top: 8.5px;
    }
    .fifth {
      top: 25px;
    }
    .sixth {
      top: 41.5px;
    }
  }
}