.underModal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(145,145,145,0.45);
}

.modal {
  width: 80vw;
  max-width: 450px;
  margin: 15vh auto;

  header {
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;

    display: flex;
    justify-content: space-between;

    .closeButton{
      cursor: pointer;
      font-weight: bold;
    }
  }

  article {
    padding: 5px 20px 15px 20px;
    border-radius: 0 0 10px 10px;
    text-indent: 10px;

    .buttons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
      margin-top: 10px;
    }
  }
}

