.gameList{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: center;

  max-width: 80vw;
  //overflow-x: scroll;
  margin-left: 10vw;
  padding: 0;
}