.checkOutForm {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;

  h3 {
    color: white;
    font-weight: bold;
    margin: 0;
    text-align: center;
    padding: 10px 5px;
    font-size: 23px;
  }

  //label{
  //  color: white;
  //  font-weight: bold;
  //  font-size: 16px;
  //}

  input {
    min-width: 300px;
    margin: 5px 0 0 0;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #a4ff93;
    color: white;
    font-weight: bold;
    font-size: 16px;

    &::placeholder {
      color: #008080;
      opacity: .7;
      font-weight: bold;
      margin: 0;
      text-align: center;
      font-size: 16px;
    }
  }

  &__errorMessage {
    font-size: 16px;
    margin: 0;
    color: #ff0033;
  }

  .total{
    margin: 0 0 21px 0;
    color: white;
    font-weight: bold;
    font-size: 21px;
    text-align: right;
  }

  button {
    border-radius: 5px;
    padding: 10px;
    background-color: #9b9bff;
  }
}

