.cart-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #008080;

  &::before, &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: .5em;
    background: linear-gradient(90deg, transparent 60%, #8ecdff 60%), linear-gradient(90deg, #4bc0c8, #c779d0, #feac5e);
    background-size: 20px 2px, 100% 2px;
  }
}

.gameCart {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 45px;
  align-items: center;
  justify-content: center;

  max-width: 80vw;
  margin: 1vh 10vw 0 10vw;
  padding: 0;

  .bottom-arrow {
    position: absolute;
    right: 15px;
    top: 15px;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background-image: url("../../../public/ico/arrow_down.png");
    background-size: cover;

    p{
      margin: 0;
      padding: 5px;
      width: 120%;
      transition: 1s;
      opacity: 0;
      color: white;
      background-color: rgba(129, 129, 129, 0.95);

      &:hover{
        transition: 1s;
        opacity: 1;
      }
    }
  }
}

.checkout {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: 1vh 10vw 0 10vw;

  //display: flex;
  //justify-content: flex-end;
  //padding: 3vh 10vw;
  //
  //font-size: 29px;
  //font-weight: bold;
  //color: white;
  //gap: 20px;
}