.siteHeader {
  width: 100%;
  padding: 1em 1em 2em 1em;
  box-sizing: border-box;
  background: rgb(24, 70, 85);
  background: linear-gradient(307deg, rgba(24, 70, 85, 1) 0%, rgba(32, 55, 90, 1) 70%, rgba(27, 40, 57, 1) 100%);
  position: relative;
  color: white;

  a {
    color: inherit;
    text-decoration: none;
  }

  .heading {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0;
  }

  .underHeading {
    text-align: center;
    font-size: 1.5em;
    margin: -0.3em 0 0 0;
  }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .cart {
      margin: 10px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../../public/ico/cart.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 28px;
        width: 28px;
        left: -28px;
      }
    }

    .favorites {
      margin: 10px;

      &:before {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../../../public/ico/star.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 28px;
        width: 28px;
        left: -28px;
      }
    }
  }
}
