.app{
  min-height: 100vh;
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  /*justify-content: space-around;*/
}

.dark-red{
  background-color: #b3382c;
  color: white;
}

.not-so-dark-red{
  background-color: #e74c3c;
  color: white;
}

.light-green{
  background-color: #a4ff93;
  color: black;
}

.not-so-light-green{
  background-color: #28ff03;
  color: black;
}

.light-blue{
  background-color: rgb(142, 205, 255);
  color: black;
}

.hidden{
  display: none;
}