.gameInCart {
  position: relative;
  display: flex;

  .poster {
    background-size: cover;
    width: 240px;
    height: 392px
  }

  .underPoster {
    position: relative;
    width: 240px;
    display: flex;
    flex-direction: column;

    .gameTitle{
      color: white;
      font-weight: bold;
      margin: 0;
      text-align: center;
      padding: 10px 5px;
      font-size: 23px;
    }

    .price{
      color: #8efff4;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      padding-right: 10px;
      padding-bottom: 15px;
      text-align: right;
    }

    .description{
      flex-grow: 1;
      box-sizing: border-box;
      width: 240px;
      background-color: rgba(129, 129, 129, 0.95);
      color: white;
      font-size: 15px;
      padding: 25% 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .del-btn{
      position: absolute;
      bottom: 15px;
      right: 15px;
      height: 30px;
      width: 30px;
      cursor: pointer;
      background-image: url("../../../../../public/ico/close.png" );
      background-position: center;
      background-size: cover;
    }
  }
}