.gameCard {
  position: relative;

  .poster {
    background-size: cover;
    width: 240px;
    height: 392px;
    transition: 1s;
  }

  .underPoster {
    width: 240px;
    transition: 0.1s;
    overflow: hidden;

    .gameTitle{
      color: white;
      font-weight: bold;
      margin: 0;
      text-align: center;
      padding: 10px 5px;
      font-size: 23px;
    }

    .price{
      color: #8efff4;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
      padding-right: 10px;
      padding-bottom: 15px;
      text-align: right;
    }
  }

  .description{
    opacity: 0;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    width: 240px;
    background-color: rgba(129, 129, 129, 0.95);
    color: white;
    font-size: 15px;
    padding: 25% 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &:hover{
    .description{
      transition: 1s;
      opacity: 1;
    }
  }

  &.listView{
    width: 100%;

    .poster {
      background-size: cover;
      background-position: center;
      width: 240px;
      height: 240px
    }

    .underPoster{
      position: absolute;
      bottom: 0;
      left: 240px;
      width: calc(100% - 240px);
    }

    .description{
      opacity: 1;
      top: 0;
      left: 240px;
      width: calc(100% - 240px);
      height: calc(100% - 86px);
      box-sizing: border-box;
      background-color: rgba(129, 129, 129, 0.95);
      color: white;
      font-size: 15px;
      padding: 10px 60px 10px 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }
}